<!DOCTYPE html>
<HTML>

<b>Hostname:</b> {hostname}
<br/>
<br/>
<h1 align="center" style="margin: 0">
    <u>
        <b>ICO SIMULATION SERVICE</b>
    </u>
</h1>
<p align="center" style="margin: 0">By Lawrence Li and Emanuel Kuflik</p>
<br/>

<!-- <h2>
    <u>BTC Transaction Details</u>{btcfl}</h2>
<br/> -->
<table style="table-layout: fixed; width: 50%; float: left;  border: 1px solid black">
    <col width="30%">
    <col width="25%">
    <col width="40%">
    <tr>
        <th colspan="3"> BTC DATA {{btcfl}}</th>
    </tr>
    <tr>
        <th style="word-break: break-all; border: 1px solid black; color: snow; background-color: rgb(255, 145, 0)">Address</th>
        <th style="word-break: break-all; width: 75;border: 1px solid black; color: snow; background-color: rgb(255, 123, 0)">Amount</th>
        <th style="word-break: break-all; border: 1px solid black; color: snow; background-color: rgb(255, 94, 0)">TX Hash</th>
    </tr>

    {% for DataSet in btc_trans %}
    <tr>
        
        <td style="word-break: break-all; border: 1px solid black; background-color: rgba(255, 145, 0, .4)">
            <div style="font-size: 15px">{{DataSet.address}}</div>
        </td>
        <td style="word-break: break-all; border: 1px solid black; background-color: rgb(255, 123, 0, .4)">{{DataSet.amount}} BTC</td>
        <td style="word-break: break-all; border: 1px solid black; background-color: rgb(255, 94, 0, .4)">
            <div style="font-size: 14px">{{DataSet.txhash}}</div>
        </td>
    </tr>
    {% endfor %}
</table>
<!-- <b>Destination Address:</b>
<details>{dest}</details>
<br/>
<b>Amount:</b>
<details>{{amount}} BTC</details>
<br/>
<b>TX:</b>
<details>{tx}</details> -->
<!-- <h2>
    <u>ETH Transaction Details</u>{ethfl}</h2>
<br/> -->
<table style="table-layout: fixed; float: left; width: 50%; border: 1px solid black">
    <col width="35%">
    <col width="25%">
    <col width="40%">
    <tr>
        <th colspan="3"> ETH DATA {{ethfl}}</th>
    </tr>
    <tr>
        <th style="word-break: break-all; border: 1px solid black; color: snow; background-color: steelblue">Address</th>
        <th style="word-break: break-all; border: 1px solid black; color: snow; background-color: blue">Amount</th>
        <th style="word-break: break-all; border: 1px solid black; color: snow; background-color: navy">TX Hash</th>
    </tr>
    {% for DataSet in eth_trans %}
    <tr>
        <td style="word-break: break-all; border: 1px solid black; background-color: rgba(70, 131, 180, 0.4)">
            <div style="font-size: 15px">{{DataSet.address}}</div>
        </td>
        <td style="word-break: break-all; border: 1px solid black; background-color:  rgba(0, 0, 255, 0.4)">{{DataSet.amount}} ETH</td>
        <td style="word-break: break-all; border: 1px solid black; background-color: rgba(0, 0, 128, 0.4)">
            <font size="1">
                <div style="font-size: 14px">{{DataSet.txhash}}</div>
        </td>
    </tr>
    {% endfor %}
</table>

<br/>
<!-- <b>Destination Address:</b>
<details>{to_address}</details>
<br/>
<b>Amount:</b>
<details>{{ethamount}} ETH</details>
<br/>
<b>TX:</b>
<details>{{ethtx}}</details>
<br/>
<br/> -->

</HTML>
