<!DOCTYPE html>
<html>

<style>
    html {
        font-family: "Trebuchet MS", Helvetica, sans-serif;
    }

    #submit {
        padding: 10px 20px;
        font-size: 16px;
        border: 2px solid rgb(118, 118, 118);
        border-radius: 10px;
        -webkit-transition-duration: .7s;
        transition-duration: .7s;
        cursor: pointer;
        background-color: white;
        color: black;
        outline: none;
        width: 40%;
        box-align: center;
    }

    #submit:hover {
        border: 5px solid rgb(23, 207, 23);
        background-color: #171717;
        color: rgb(0, 241, 4);
    }

    #variables {
        padding: 20px;
        padding-top: 0;
        background-color: rgb(39, 39, 39);
        color: white;
        border: 2px solid silver;
        width: 93%;
        text-align: center;
    }

    .ins {
        margin: 8px 0;
        padding: 14px 20px;
        -webkit-transition-duration: .85s;
        transition-duration: .85s;
        border: 2px solid rgb(118, 118, 118);
        border-radius: 4px;
        width: 90%;
    }

    .ins:focus {
        border: 5px solid rgb(23, 207, 23);
        background-color: black;
        color: rgb(0, 241, 4);
        border-radius: 5px;
        outline: none;
    }

    .nums {
        margin: 8px 0;
        padding: 14px 20px;
        -webkit-transition-duration: .85s;
        transition-duration: .85s;
        border: 2px solid rgb(118, 118, 118);
        border-radius: 4px;
        width: 70%;
    }

    .nums:focus {
        border: 5px solid rgb(23, 207, 23);
        background-color: black;
        color: rgb(0, 241, 4);
        border-radius: 5px;
        outline: none;
    }
</style>
<div id="header">
    <h1 align="center" style="margin: 0">
        <u>
            <b>ICO SIMULATION SERVICE</b>
        </u>
    </h1>
    <p align="center" style="margin: 0">By Lawrence Li and Emanuel Kuflik</p>
</div>
<br/>
<br/>
<table>
    <col width="50%">
    <col width="50%">
    <tr>
        <td valign="top">
            <div style="border: 2px solid black; background-color: white ;padding: 20px; padding-top: 0;">
                <h2>About the Program</h2>
                <hr>
                <h3>
                    <b>
                        <u>Usage:</u>
                    </b>
                </h3>
                <p>
                    Our program simulates the ICO investing process. This is accomplished by sending up to 5000 Bitcoin testnet transactions
                    and up to 5000 Ethereum Rinkeby Network transactions. By utilizing these "fake" coin networks, we are
                    able to simulate what a real investing period might look like. We also have persistent storage through
                    a mysql database that allows the user to use our simulation for testing their own blockchain functionalities
                    like a blockchain watching service. </p>
                <h3>
                    <b>
                        <u>Runtime:</u>
                    </b>
                </h3>
                <p> The runtime for a full simulation (10,000 total transactions) is usually around 1.5-2 hours. Unfortunately
                    there are bugs in this program that mainly have to do with our limitations of using third party test
                    networks and so if there is an error while your simulation is running, you will be notified and directed
                    to a new page to try again. Try to give it a minute or two between simulations if this is recurring.</p>
                <h3>
                    <b>
                        <u>Variables Explained:</u>
                    </b>
                </h3>
                <div style="font-size: 11px">
                    <p>
                        <b>Infura Rinkeby API key</b> - When you sign up for the Infura service they provide you for various
                        api kesy to work with ethereum and its many test networks. We use the rinkeby network because it
                        is fast, easy to work with, and has a
                        <a href="https://faucet.rinkeby.io/">reliable faucet</a> for filling up test accounts with rinkeby ETH.</p>
                    <p>
                        <b>Extended public keys</b> - Extended public keys allow us to generate an endless amount of bitcoin
                        testnet or ethereum address from a single address. It also gives the user access to all of those
                        addresses without needing to store the private keys for every single account. To obtain one, go to
                        the
                        <a href="https://iancoleman.io/bip39/#bip32">link</a> provided, select "Bitcoin Testnet" for the bitcoin xpub or "Ethereum" for the ethereum xpub
                        and then click "generate" at the top of the page to generate a random mneumonic that is used to generate
                        your extended keys. Make sure to select BIP32 as well and copy the
                        <b>public</b> xpub, not the private one.
                    </p>
                    <p>
                        <b>Ethereum private key</b> - In order for multiple simulations to be running at once, each user must
                        be sending ethereum fromt their own rinkeby wallets. If you don't have one, you can generate an ethereum
                        wallet and fill it using rinkeby eth from the faucet linked above. Don't worry, <b>we will never save
                        this private key</b>. A good way to manage and keep track of your ethereum wallets is by using a service
                        like
                        <a href="https://metamask.io/">Metamask</a>.
                    </p>
                </div>
            </div>

        </td>
        <td valign="top">
            <form id="variables" method="POST" onsubmit="load()">
                <h2>Required Variables</h2>
                <hr>
                <br> Enter Your
                <b>Infura Rinkeby API Key URL</b>: Don't Have One?
                <a href="https://infura.io/signup" style="color: greenyellow;">Register for Infura</a>
                <br/>
                <input class="ins" name="rink_api" maxlength="46" pattern=".{46}" title="Please enter your full Rinkeby API Key URL" required>
                </br>
                <br> Enter Your
                <b>BIP32 BTC Testnet XPUB</b>: Don't Have One?
                <a href="https://iancoleman.io/bip39/#bip32" style="color: greenyellow;">Xpub Generator</a>
                <br/>
                <input class="ins" name="xpub_btc" maxlength="111" pattern=".{111}" title="Valid extended public key must be 111 characters"
                    required>
                </br>
                <br> Enter Your
                <b>BIP32 ETH XPUB</b>: Don't Have One?
                <a href="https://iancoleman.io/bip39/#bip32" style="color: greenyellow;">Xpub Generator</a>
                <br/>
                <input class="ins" name="xpub_eth" maxlength="111" pattern=".{111}" title="Valid extended public key must be 111 characters"
                    required>
                </br>
                <br> Enter Your
                <b> Ethereum Source Account Private Key to send from:</b>
                <br>
                <input class="ins" name="eth_sk" maxlength="64" pattern=".{64}" title="Valid eth priv wif must be 64 characters" type="password"
                    required>
                </br>
                <br/>
                <table>
                    <col width="50%">
                    <col width="50%">
                    <tr>
                        <td>
                            Amount of Bitcoin Testnet transactions to run:
                        </td>
                        <td>
                            Amount of Ethereum transactions to run:
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input class="nums" width="40%" name="btc_num" type="number" min="0" max="5000" required>
                        </td>
                        <td>
                            <input class="nums" width="40%" name="eth_num" type="number" min="0" max="5000" required>
                        </td>
                    </tr>
    </tr>
    </table>
    </br>
    </br>
    <button id="submit" align="middle" type="submit" form="variables">Run Simulation</button>
    </form>
    <div id="onsubmition" align="center" style="display: none; border: 2px solid black">
        <h2 id="wait">Please Wait</h2>
        <hr>
        <iframe id="loading" width="20%" height="15%" src="https://lottiefiles.com/iframe/47-gears" frameborder="0" allowfullscreen></iframe>
        <div id="message" style="padding: 10px">Your Simulation is loading...</div>
    </div>
    <script language="javascript" type="text/javascript">
        function load() {
            document.getElementById("variables").style.display = "none"
            document.getElementById("onsubmition").style.display = "block"
        }
    </script>
    </td>

    </tr>
</table>
<footer style="text-align: center; border: 2px solid black; font-family: monospace; color: snow; padding: 5px; background-color: lightslategray;">
    <p>If you have any questions about the service you can email the creators at
        <br/> Emanuel Kuflik - mannykuflik@gmail.com
        <br/> Lawrence Li - lawrence20172103@gmail.com
    </p>
</footer>

<!-- <script>

    Generating addresses: y = 6264.096 + (0.3962452 - 6264.096)/(1 + (x/83248.09)^1.05043)
    



    // 10 minutes from now
    var time_in_minutes = .1;
    var current_time = Date.parse(new Date());
    var deadline = new Date(current_time + time_in_minutes * 60 * 1000);


    function time_remaining(endtime) {
        var t = Date.parse(endtime) - Date.parse(new Date());
        var seconds = Math.floor((t / 1000) % 60);
        var minutes = Math.floor((t / 1000 / 60) % 60);
        var hours = Math.floor((t / (1000 * 60 * 60)) % 24);
        var days = Math.floor(t / (1000 * 60 * 60 * 24));
        return { 'total': t, 'days': days, 'hours': hours, 'minutes': minutes, 'seconds': seconds };
    }
    function run_clock(button, id, endtime) {
        button.style.display = "none";
        var clock = document.getElementById(id);
        function update_clock() {
            var t = time_remaining(endtime);
            clock.innerHTML = 'Approx. Time Remaining: <div style="color: red">' + t.minutes + ' m ' + t.seconds + ' s' + '<div>';
            if (t.total <= 0) {
                clock.innerHTML = '<form align="left" action="/"> <button style="font-size: 12px" type="submit" >Restart</button></form><form align="center" action="/run/" method="post"> <button style="font-size: 24px" type="submit" >View Simulation</button></form>'
            }
        }
        update_clock(); // run function once at first to avoid delay
        var timeinterval = setInterval(update_clock, 1000);
    }

</script> -->

<!-- <form align="center" action="/run/" method="post">
<button style="font-size: 24px" type="submit" onclick="run_clock(this, 'clockdiv',deadline)">View Simulation</button>
</form>

<div id="clockdiv"></div> -->

</html>